.body {
  background-image: url("../../public/bg-login.png");
  background-size: auto;
}

.css-1nmdiq5-menu {
  z-index: 10 !important;
  box-sizing: "border-box" !important;
}

@media (max-width: 576px) {
  .row-chess {
    margin: 0 !important;
  }
}

.col-chess {
  margin-left: 10rem !important;
}

@media (max-width: 576px) {
  .col-chess {
    margin: 0 !important;
  }
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container {
  border-radius: 2px;
}